<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>land.ianmccaus.comma-separate</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1EA1DD77-7073-4467-A3C4-0B459B258DB6</key>
		<array/>
		<key>5C10E7EB-7EF8-477F-B526-47F183457C54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EA1DD77-7073-4467-A3C4-0B459B258DB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AACFA712-6322-42DD-BEF0-EBA2CE750618</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C10E7EB-7EF8-477F-B526-47F183457C54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ian McCausland</string>
	<key>description</key>
	<string>Turn a /n separated list into a comma-separated one</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Comma Separate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Workin on it...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$CLIPBOARD"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Comma Separate \n Separated Lists in the Clipboard</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1EA1DD77-7073-4467-A3C4-0B459B258DB6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>CLIPBOARD</key>
					<string>{clipboard}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5C10E7EB-7EF8-477F-B526-47F183457C54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>delim</string>
				<key>subtext</key>
				<string>Create Lists for Pasting into SQL / TH Tools</string>
				<key>text</key>
				<string>Modify Clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AACFA712-6322-42DD-BEF0-EBA2CE750618</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1EA1DD77-7073-4467-A3C4-0B459B258DB6</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>5C10E7EB-7EF8-477F-B526-47F183457C54</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>AACFA712-6322-42DD-BEF0-EBA2CE750618</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>output</key>
		<string></string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
