<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>land.ianmccaus.comma-separate</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>047BE0DC-5638-4CD7-9231-06B99AE1C03F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90A788B0-D322-447F-91F4-3295051C1F87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>099A8DF2-B43E-40FF-B057-EB23D6DFB2E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>134F9FDC-9033-45D4-8972-1BF4AFBB02F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>134F9FDC-9033-45D4-8972-1BF4AFBB02F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D8D39DD-1A12-46DE-83DB-F91242CF053D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EA1DD77-7073-4467-A3C4-0B459B258DB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D8D39DD-1A12-46DE-83DB-F91242CF053D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>511E1E48-B898-4ACC-9CCA-B02C8B5FD6CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>099A8DF2-B43E-40FF-B057-EB23D6DFB2E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>538A9EF4-127E-4E4A-9582-A691E32E0AD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB3B93C9-009D-41DF-950A-15A40E72515A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C10E7EB-7EF8-477F-B526-47F183457C54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EA1DD77-7073-4467-A3C4-0B459B258DB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90A788B0-D322-447F-91F4-3295051C1F87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>945BB3D5-B1F4-40B6-94AA-C94B19F366D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>945BB3D5-B1F4-40B6-94AA-C94B19F366D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D8D39DD-1A12-46DE-83DB-F91242CF053D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D8D39DD-1A12-46DE-83DB-F91242CF053D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>538A9EF4-127E-4E4A-9582-A691E32E0AD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3816B06A-6D22-456C-A664-89D6B41CF635</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AACFA712-6322-42DD-BEF0-EBA2CE750618</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C10E7EB-7EF8-477F-B526-47F183457C54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB3B93C9-009D-41DF-950A-15A40E72515A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B011296-B44C-4DE8-B2C1-DC74C2A9E218</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ian McCausland</string>
	<key>description</key>
	<string>Perform various operations on text in the clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PasteTool</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>convert</string>
				<key>subtext</key>
				<string>Create Lists for Pasting into SQL / TH Tools</string>
				<key>text</key>
				<string>Modify Clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AACFA712-6322-42DD-BEF0-EBA2CE750618</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Workin on it...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node list.js "$CLIPBOARD"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Comma Separate \n Separated Lists in the Clipboard</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1EA1DD77-7073-4467-A3C4-0B459B258DB6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>CLIPBOARD</key>
					<string>{clipboard}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5C10E7EB-7EF8-477F-B526-47F183457C54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9D8D39DD-1A12-46DE-83DB-F91242CF053D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>extract</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Extract data from what's on the clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>511E1E48-B898-4ACC-9CCA-B02C8B5FD6CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Extracting data...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node extract.js "$CLIPBOARD"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Extract specific data from the text on the clipboard</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>134F9FDC-9033-45D4-8972-1BF4AFBB02F4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>538A9EF4-127E-4E4A-9582-A691E32E0AD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>CLIPBOARD</key>
					<string>{clipboard}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>099A8DF2-B43E-40FF-B057-EB23D6DFB2E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Extracting data...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node csv.js "$CLIPBOARD"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Extract specific data from the text on the clipboard</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>945BB3D5-B1F4-40B6-94AA-C94B19F366D2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:CLIPBOARD}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AB3B93C9-009D-41DF-950A-15A40E72515A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>detable</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Convert table to lists of items under headers</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>047BE0DC-5638-4CD7-9231-06B99AE1C03F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pasted to Front-most App</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3816B06A-6D22-456C-A664-89D6B41CF635</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>CLIPBOARD</key>
					<string>{clipboard}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>90A788B0-D322-447F-91F4-3295051C1F87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The clipboard contents that comprised the input for this workflow have been restored.</string>
				<key>title</key>
				<string>Previous Clipboard Contents Restored</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2B011296-B44C-4DE8-B2C1-DC74C2A9E218</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>047BE0DC-5638-4CD7-9231-06B99AE1C03F</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>099A8DF2-B43E-40FF-B057-EB23D6DFB2E1</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>134F9FDC-9033-45D4-8972-1BF4AFBB02F4</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>1EA1DD77-7073-4467-A3C4-0B459B258DB6</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>2B011296-B44C-4DE8-B2C1-DC74C2A9E218</key>
		<dict>
			<key>xpos</key>
			<integer>885</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>3816B06A-6D22-456C-A664-89D6B41CF635</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>511E1E48-B898-4ACC-9CCA-B02C8B5FD6CF</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>538A9EF4-127E-4E4A-9582-A691E32E0AD8</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>5C10E7EB-7EF8-477F-B526-47F183457C54</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>90A788B0-D322-447F-91F4-3295051C1F87</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>945BB3D5-B1F4-40B6-94AA-C94B19F366D2</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>9D8D39DD-1A12-46DE-83DB-F91242CF053D</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>AACFA712-6322-42DD-BEF0-EBA2CE750618</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>AB3B93C9-009D-41DF-950A-15A40E72515A</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1</string>
	<key>webaddress</key>
	<string>https://www.ianmccaus.land</string>
</dict>
</plist>
